.home {
  margin-top: 60px;
  margin-left: 0;
  left: 9rem;
  width:90%;
  height: auto;
  flex: 6;
  position: absolute;
  .widgets{
    display: flex;
    flex: 4;
  }
  .charts{
    display: flex;
    padding: 5px 20px;
  }
  .widgets, .charts{
    padding: 20px;
    gap: 20px;
  }
  .tableContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(204, 204, 204, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(204, 204, 204, 0.47);
    padding: 20px;
    margin: 20px;
    margin-right: 40px;
    border-radius: 10px;
    .tableList {
      font-weight: 500;
      color: grey;
      margin-bottom: 15px;
    }
  }
}